.dark-mode .card {
  background-color: #36353f;
  color: #bfbdbd;
  border: 1px solid #36353f;
}

.dark-mode .task-list {
  color: #bfbdbd;
}

.dark-mode .ant-btn {
  background-color: #36353f;
  border-color: #36353f;
  border: 1px solid #36353f;
  color: #bfbdbd;
}

.dark-mode .ant-btn:hover {
  background-color: #36353f;
  border-color: #36353f;
  color: #bfbdbd;
}

.dark-mode .ant-input {
  background-color: #36353f;
  color: #bfbdbd;
}

.dark-mode .ant-input:hover,
.dark-mode .ant-input:focus {
  background-color: #36353f;
  color: #bfbdbd;
}

.dark-mode .anticon svg {
  fill: #bfbdbd;
}

.dark-mode .ant-input::placeholder {
  color: #999898;
}
