.dark-mode .card {
    background-color: #2b2a39;
    color: #bfbdbd;
    border: 1px solid black;
  }
  
  .dark-mode .task-list {
    color: #bfbdbd;
  }
  
  .dark-mode .ant-btn {
    background-color: #212529;
    border-color: black;
    border: 1px solid black;
    color: #bfbdbd;
  }
  
  .dark-mode .ant-btn:hover {
    background-color: #212529;
    border-color: black;
    color: #bfbdbd;
  }
  
  .dark-mode .ant-input {
    background-color: #212529;
    color: #bfbdbd;
  }
  
  .dark-mode .ant-input:hover, .dark-mode .ant-input:focus {
    background-color: #212529;
    color: #bfbdbd;
  }
  
  .dark-mode .anticon svg {
    fill: #bfbdbd;
  }
  
  .dark-mode .ant-input::placeholder {
    color: #999898;
  }
  