.custom-sider {
  height: calc(100vh - 2.5rem) !important; 
  background-color: #f7f7f7;
  padding: 10px;
  /* border: 1px solid red; */

}
.custom-trigger {
    height: 30px;
    width: 85%;
    position: absolute;
    bottom: 1rem;
    cursor: pointer;
    align-content: end;
}

.content-outer-div {
  height: calc(100vh - 2.5rem);
  width: 100%;
  overflow-y: scroll;
  /* border: 1px solid red; */

}